
<!-- Footer -->

<footer class="page-footer font-small text-white bg-dark pt-4">
  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mb-4">Quem Somos</h5>
        <p>Atree, tem como conceito principal a ética e a honestidade com clientes, funcionários e colaboradores. Suas negociações são claras e objetivas, provendo aos seus clientes soluções da mais alta tecnologia.

Visando a diminuição do desperdício e do mau uso dos recursos.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mb-4">Portfolio </h5>

        <ul class="list-unstyled">
          <li>
             <a href="#! "class="text-muted">PROJECTS</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!" class="text-muted" >ABOUT US</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!" class="text-muted">BLOG</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!" class="text-muted">AWARDS</a>
            </p>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Contact details -->
        <h5 class="font-weight-bold text-uppercase mb-4">Endereço</h5>

        <ul class="list-unstyled">
          <li>
            <p>
              <i class="fas fa-home mr-3"></i> Chapecó, SC 89801, BR</p>
          </li>
          <li>
            <p>
              <i class="fas fa-envelope mr-3"></i> helpdocumentation@gmail.com</p>
          </li>
          <li>
            <p>
              <i class="fas fa-phone mr-3"></i> + 55 49 988022126</p>
          </li>
          <li>

        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 text-center mx-auto my-4">

        <!-- Social buttons -->
        <h5 class="font-weight-bold text-uppercase mb-4">Contatos</h5>

        <!-- Facebook -->
         <a class="btn btn-social-icon btn-twitter">
         <span class="fa fa-twitter"></span>
            </a>  
        <!-- Twitter -->
        <a type="button" class="btn-floating btn-tw">
          <span class="fa fa-twitter"></i>
        </a>
          <a class="btn btn-social-icon btn-twitter">
            <span class="fa fa-twitter"></span>
          </a>
        <!-- Google +-->
        <a type="button" class="btn-floating btn-gplus">
          <i class="fab fa-google-plus-g"></i>
        </a>
        <!-- Dribbble -->
        <a type="button" class="btn-floating btn-dribbble">
          <i class="fab fa-dribbble"></i>
        </a>
        

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->
<hr>
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/" class="text-muted"> MDBootstrap.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->